body {
    background: #607394;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  canvas {
    background: #cfe4ff;
    border: 1px solid #999;
    margin-top: 10px;
  }
 